/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	#topNavigation nav ul {
 		text-align: center;
	}
 	
 	#landing {
 		height: 500px;
 	}

 	#back {
 		height: 500px;
 	}

 	h1 {
 		padding-top: 45px;
 		font-size: 40px;
 	}

 	h2 {
 		padding-bottom: 40px;
 		font-size: 25px;
 	}

 	h3 {
 		font-size: 20px;
 	}

 	h4 {
 		font-size: 20px;
 	}

 	h5 {
 		font-size: 18px;
 	}

 	h6 {
 		font-size: 16px;
 	}

 	#h7 {
 		font-size: 20px;
 	}

 	#featureOne p {
 		font-size: 14px;
 	}

 	#featureTwo p {
 		font-size: 14px;
 	}

 	#featureThree p {
 		font-size: 14px;
 	}

 	.halfquote {
 		padding: 0 3%;
 	}

 }

	/* All Mobile Sizes (devices and browser) */
/*	@media only screen and (max-width: 767px) {

	#topNavigation nav ul {
 		text-align: center;
	}

 	#landing {
 		height: 600px;
 	}

 	#back {
 		height: 600px;
 	}

 	h1 {
 		padding-top: 45px;
 		font-size: 35px;
 	}

 	h2 {
 		padding-bottom: 40px;
 		font-size: 25px;
 	}

 	h3 {
 		font-size: 20px;
 	}

 	h4 {
 		font-size: 20px;
 	}

 	h5 {
 		font-size: 18px;
 	}

 	h6 {
 		font-size: 16px;
 	}

 	#h7 {
 		font-size: 16px;
 	}

 	#featureOne p {
 		font-size: 14px;
 	}

 	#featureTwo p {
 		font-size: 14px;
 	}

 	#featureThree p {
 		font-size: 14px;
 	}

 	#bottomNavigation nav {
    display:block;
	}

	#bottomNavigation nav ul {
		text-align: center;
	}

	#bottomNavigation nav ul li {
		display: block;
	}

	}*/

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	#topNavigation {
 		display: none;
	}

	#mobileNav {
		display: block;
		background-color: #0A2240;
		height: 60px;
	}

	#mobileNav .logo {
		text-align: left;
		float: left;
		width: 50%;
		padding-left: 20px;
		font-size: 1.5em;
	}

	#mobileNav #navButton {
		float: right;
		margin-top: 15px;
	}

	.logo a {
		text-decoration: none;
		color: #eee;
	}

 	#landing {
 		height: 550px;
 	}

 	#back {
 		height: 550px;
 	}

 	#Landingtextbox {
 		margin-bottom: 10px;
 	}

 	h1 {
 		padding-top: 45px;
 		font-size: 35px;
 	}

 	h2 {
 		padding-bottom: 40px;
 		font-size: 25px;
 	}

 	h3 {
 		font-size: 20px;
 	}

 	h4 {
 		font-size: 20px;
 	}

 	h5 {
 		font-size: 18px;
 		float: left;
 	}

 	h6 {
 		font-size: 16px;
 	}

 	#h7 {
 		font-size: 20px;
 	}

 	#featureOne p {
 		font-size: 14px;
 	}

 	#featureTwo p {
 		font-size: 15px;
 		float: left;
 		padding-left: 0px;
 	}

 	#featureTwo img {
 		float: left;
 	}

 	.halfquote {
  width: 100%;
  padding: 0 5%;
  float: left;
  }

 	#featureThree p {
 		font-size: 14px;
 	}

 	#bottomNavigation {
 		padding: 1%;
 	}

	#bottomNavigation nav ul {
		text-align: center;
		float: none;
		padding: 0px;
	}

	#bottomNavigation nav ul li {
		padding: 15px 15px;
	}

	#bottomNavigation p {
		float: none;
		text-align: center;
		display: block;
		font-size: 10px;
	}

	#featureThree li {

	}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

  #topNavigation {
 		display: none;
	}

	#mobileNav {
		display: block;
		background-color: #0A2240;
		height: 60px;
	}

	#mobileNav .logo {
		text-align: left;
		float: left;
		width: 50%;
		padding-left: 20px;
		font-size: 1.5em;
	}

	#mobileNav #navButton {
		float: right;
		margin-top: 15px;
	}

	.logo a {
		text-decoration: none;
		color: #eee;
	}

 	#Landingtextbox {
 		margin-bottom: 10px;
 	}

 	#Landingbutton {
 		margin-bottom: 10px;
 	}

 	#landing {
 		height: 600px;
 	}

 	#back {
 		height: 600px;
 	}

 	h1 {
 		padding-top: 45px;
 		font-size: 30px;
 	}

 	h2 {
 		padding-bottom: 40px;
 		font-size: 20px;
 	}

 	h3 {
 		font-size: 20px;
 	}

 	h4 {
 		font-size: 20px;
 	}

 	h5 {
 		font-size: 18px;
 	}

 	h6 {
 		font-size: 16px;
 	}

 	#h7 {
 		font-size: 18px;
 	}

 	#featureOne p {
 		font-size: 14px;
 	}

 	#featureTwo p {
 		font-size: 14px;
 		padding: 0px;
 		float: left;
 	}

 	 	#featureTwo img {
 		float: left;
 	}

 	 .halfquote {
  width: 100%;
  float: left;
  }

 	#halfquote {
 		width: 100%;
 	}

 	#featureThree p {
 		font-size: 14px;
 	}

		#bottomNavigation {
 		padding: 1%;
 	}

	#bottomNavigation nav ul {
    display: none;
	}

	#bottomNavigation p {
		float: none;
		text-align: center;
		display: block;
		font-size: 10px;
	}

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/