h1, h2, h4, #h7, #Landingbutton, #featureOne p,
#featureTwo p, #featureThree p, #join2 p, #navButton,
 #bottomNavigation, #topNavigation {
  font-family: 'Open Sans', sans-serif;
}

h3, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  text-shadow: 2px 2px #0a2240;
  text-align: center;
  color: #FFF;
}

h1 {
  font-weight: bold;
  padding-top: 70px;
  font-weight: 600;
  font-size: 54px;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 70px;
  font-weight: 600;
  font-size: 25px;
}

h3 {
  font-size: 25px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: #0A2240;
  text-align: center;
  padding-top: 0px;
}

h5 {
  font-size: 22px;
  color: #FFF;
  font-style: italic;
  display: inline;
  padding-left: 0px;
}

h6 {
  font-size: 18px;
  color: #ff6e40;
  font-style: bold;
  text-align: center;
}

#h7 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 2.32;
  text-align: center;
}

ul {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

#landing {
  background-image: url('../images/landing_background.jpg');
  height: 620px;
  background-size: cover;
  /*padding-bottom: 30px;*/
}

#back {
  background-color: rgba(10, 34, 64, 0.5);
  height: 620px;
  background-size: cover;
}

#background {
  background-color: #5C7DA6;
}

#Landingtextbox {
  height: 18px;
  width: 230px;
  border: 2px solid;
  border-color: #ff6e40;
}

#Landingbutton {
  background-color: #ff6e40;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: thin;
  color: #fff;
  border: 1px;
  padding: 2px 5px;
  text-align: center;
}

.signUp {
  text-align: center;
  display: inline;
}

.signUp ul {
    list-style-type: none;
    margin-top: 0px;
}
.signUp ul li {
    display: inline;
    padding:0px 5px;
}

#featureOne img {
  width: auto;
  height: 50px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

#featureOne p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

.block {
/*  background-color: #F0F0F0;*/
  height: 170px;
}

#featureTwo {
  background-color: #0A2240;
  padding-bottom: 20px;
  padding-top: 20px;
}

#featureTwo img {
  width: 130px;
  height: 130px;
  float: left;
  padding-bottom: 30px;
}

#featureTwo p {
  padding-top: 40px;
  padding-left: 30px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #fff;
}

.halfquote {
  width: 40%;
  padding: 0 5%;
  float: left;
}

.halfquote p {
  float: right;
}

#italic {
  font-style: italic;
}

#featureThree p {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

#screengrab img {
  max-width: 100%;
  height: auto;
}

#join2 p {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #0A2240;
}

#featureThree {
  padding-bottom: 70px;
}

.social {
  float: right;
}

.signIn {
  float: right;
  display: inline;
}

.logo {
  float: left;
  padding: 15px 0 12px 20px;
  margin: 0 0 0 0;
}

.nav {
  float: right;
  padding-right: 10px;
}

#navButton {
  background-color: #ff6e40;
  width: 80px;
  height: 30px;
  font-size: 13px;
  color: #fff;
  border: 1px;
  padding: 2px 5px;
  text-align: center;
}

#topNavigation {
    background-color: #0A2240;
    font-size: 12px;
}

#topNavigation nav ul {
    list-style-type: none;
    margin-top: 15px;
}

#topNavigation nav ul li {
    display: inline;
    padding:0px 10px;
}

#topNavigation nav ul li.selected {
    border-bottom: 4px solid #309852;
    padding-bottom: 10px;
}

#topNavigation nav ul li a {
    color:#fff;
    text-decoration: none;
}

#topNavigation nav ul li a:hover {
    color:#ccc;
}

#bottomNavigation {
    background-color: #0A2240;
    font-size: 12px;
}

#bottomNavigation nav ul {
    list-style-type: none;
    float: left;
}

#bottomNavigation nav ul li {
    padding: 5px 5px;
    display: inline;
}

#bottomNavigation nav ul li.selected {
    border-bottom: 2px solid #309852;
    padding-bottom: 5px;
}

#bottomNavigation nav ul li a {
    color:#fff;
    text-decoration: none;
}

#bottomNavigation nav ul li a:hover {
    color:#ccc;
}

#bottomNavigation p {
  color: #fff;
  float: right;
  display: inline;
}

#mobileNav {
  display: none;
}
